#root {
    display: flex;
    gap: 50px;
    padding: 20px;
}

.cv-preview {
    border: 1px solid black;
    padding: 20px;
    flex: 1;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.start-end-dates {
    display: flex;
    gap: 5px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}
