#root {
    display: flex;
    gap: 50px;
    padding: 20px;
}

.cv-preview {
    border: 1px solid black;
    padding: 20px;
    flex: 1;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    min-width: 520px;
    align-items: center;
}

.form-blocks > button {
    width: 200px;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 0.6px solid black;
    border-radius: 10px;
    padding: 20px;
}

.start-end-dates {
    display: flex;
    gap: 5px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.info-summary {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    min-width: 80%;
}

.summary-buttons {
    display: flex;
    gap: 5px;
}

.experience-list {
    margin-top: 10px;
    padding-left: 20px; /* Adjust indent of bullets */
    list-style-type: disc; /* Ensures standard round bullets */
}

.experience-list li {
    margin-bottom: 5px; /* Adds space between each bullet point */
    line-height: 1.4;
}
