body {
    display: flex;
}

.form-column {
    display: flex;
    flex-direction: column;
}

.form-blocks {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
